#search-results-scrollhider,
.search-results {
    position:relative
}
body {
    --search-results-carousel-height: 90px;
}
#search-results-scrollhider {
    height: var(--search-results-carousel-height);
    overflow:hidden;
}

#search-results-display-carousel .search-results {
    height: calc(var(--search-results-carousel-height) + 10px);
    top:50%;
    transform:translatey(-50%);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
}
#search-results-display-carousel .search-results > div {
    --glow: 5px;
    display: inline-block;
    position: relative;
    /* padding: 0 5px; */
    margin: 0 5px;
    vertical-align: middle;
    top: 10px;
    width: 54px;
    height: 40px;
    box-shadow: 0 0 var(--glow) var(--border-color);
    overflow: hidden;
}
#search-results-display-carousel .search-results > div.search-results-channel {width: 40px;margin: 0 12px;}

body:not(.userPlaylistModifying) #search-results-display-carousel .search-results > div.active {width: 106px;height: 80px;}
body:not(.userPlaylistModifying) #search-results-display-carousel .search-results > div.active > .search-results-count {display: unset;}

/* adding "body" to increase specificity */
body #search-results-display-carousel .search-results > div.active.search-results-channel {width: 80px;margin: 0 18px;}

/* #search-results-display-carousel .search-results > div >  */.search-results-count,
#search-results-display-carousel .search-results > div::after {
    position: absolute;
    background: var(--background-color-o75);
    /* display: none; */
}
#search-results-display-carousel .search-results > div > .search-results-count{right:0;bottom:0}

#search-results-display-carousel .search-results {font-size: 10px;}
body:not(.userPlaylistModifying) #search-results-display-carousel .search-results > div.active {font-size: 16px;}
#search-results-display-carousel .search-results > div.search-results-playlist.active > .search-results-count {font-size: 20px;}

#search-results-display-carousel .search-results > div:first-child{margin-left: 100px;} /* 62px is exact required. */
#search-results-display-carousel .search-results > div.active.search-results-channel:first-child{margin-left: 150px;} 
#search-results-display-carousel .search-results > div:last-child{margin-right: 100px;} 
#search-results-display-carousel .search-results > div.active.search-results-channel:last-child {margin-right: 150px;}

/* user playlist modifying style */
body.userPlaylistModifying {
    --search-results-carousel-height: 85px;
}
body.userPlaylistModifying #search-results-display-carousel .search-results > div:not(.active) {
    top: calc(var(--search-results-carousel-height) - var(--glow));
    transform: translateY(-100%);
}
body.userPlaylistModifying #search-results-display-carousel .search-results > div.active {
    top: calc(var(--glow) * 2);
}