#current-info-more {
    font-size: 14px;
    padding: 0 5px;
}
.current-info-description {
    font-style: italic;
    /* margin: 2px; */
    padding: 2px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 12px;
    max-height: 68px;
    overflow: hidden;
}
.current-info-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body.hideauthor .current-info-author {display: none}
#current-info-name-cont {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 5px 0;
}
#current-info-name {
    position: relative;
}