#search-results-display-list .search-results {height: 100%;}

#search-results-display-list .search-results > div {
    --height: 60px;
    height: var(--height);
    position: relative;
}
#search-results-display-list .search-results > div:focus {
    background: var(--accent-color-1);
}
#search-results-display-list .search-results > div.search-results-playlist .search-results-count::before {
    /* see the rule : .search-results > div.search-results-playlist .search-results-count::before */
    background-size: 20px;
}

#search-results-display-list .search-results-img {
    width: 80px;
    height: 100%;
    display: block;
    /* display: inline-block; */
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 3px;
}

#search-results-display-list .search-results-title {
    --lh: 1.2em;
    --tp: 2px;
    line-height: var(--lh);
    max-height: calc((var(--lh) * 2) + var(--tp));
    overflow: hidden;
    padding-top: var(--tp);
    font-size: 14px;
}


#search-results-display-list .search-results-subtitle {
    font-size: 12px;
    opacity: 0.8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#search-results-display-list .search-results-img * {position: absolute;}
#search-results-display-list .search-results-img img {
    left:50%;
    transform:translateX(-50%);
    height: 100%;
}
#search-results-display-list .search-results-img > .search-results-count {
    right: 0;
    bottom: 0;
    font-size: 14px;
}

/* moving style */
body.userPlaylistModifying #search-results-display-list .search-results > div:not(:focus) {
    opacity: 0.35;
}
/* body.userPlaylistModifying #search-results-display-list .search-results > div:focus {
    --edgeHeight: 7px;
} */
body.userPlaylistModifying #search-results-display-list .search-results > div:focus::before,
body.userPlaylistModifying #search-results-display-list .search-results > div:focus::after
{
    content: "▲";
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    font-size: 24px;
    line-height: 0.7;
}
body.userPlaylistModifying #search-results-display-list .search-results > div:focus::before {
    bottom: 100%;
}
body.userPlaylistModifying #search-results-display-list .search-results > div:focus::after {
    top: 100%;
    transform: scaleY(-1);
}