#loading-overlay-box {
    background: var(--background-color-o75);
    border-radius: 4px;
    padding: 5px;
}
#loading-overlay-box.loaded {
    border: 1px solid var(--border-color);
}

/* #header {
    background: #000;
} */

body #header {
    background: none;
}

body:not(.nosearch) #header {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    text-align: left;
}

body.nosearch #header {
    padding: 5px;
    margin: 0;
    border: none;
    border-radius: 0;
}
#nosearch-cont > * {
    vertical-align: middle;
}
body.nosearch #header #nosearch-cont {display: unset;}
#header #nosearch-cont {display: none;}
body.nosearch #header #search-query-cont {display: none;}
#header #search-query-cont {display: unset;}

#search-query {
    width: calc(100% - 20px);
    height: 22px;
    display: inline-block;
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 16px;

}
#search-query-icon {
    vertical-align: middle;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 6px;
}

#search-results-all {
    height: 229px;
    width: 100%;
}

.search-results-display {
    height: 100%;
}

/* general styles related to the search result display that apply to both styles of display */
.search-results > div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #000;
}

.search-results > div.search-results-playlist .search-results-count {
    height: 100%;
    width: 50%;
    text-align: center;
}
.search-results > div.search-results-playlist .search-results-count::before {
    display: block;
    width: 100%;
    height: 50%;
    background: no-repeat center bottom/14px url(/img/playlist.png);
    content: "";
}
.search-results > div.search-results-playlist.active .search-results-count::before {
    background-size: unset;
}

.search-results > div.search-results-live .search-results-count {
    background: var(--background-color-live-badge);
    text-transform: uppercase;
}