:root {
    /* bg color is #000 */
    --background-color-r: 0;
    --background-color-g: 0;
    --background-color-b: 0;

    --background-color: rgb(
        var(--background-color-r),
        var(--background-color-g),
        var(--background-color-b)
    );
    --background-color-o75: rgba(
        var(--background-color-r),
        var(--background-color-g),
        var(--background-color-b),
        0.75
    ); /* same as background-color with 75% opacity */
    --background-color-o50: rgba(
        var(--background-color-r),
        var(--background-color-g),
        var(--background-color-b),
        0.5
    ); /* same as above but with 50% opacity */
    --background-color-o90: rgba(
        var(--background-color-r),
        var(--background-color-g),
        var(--background-color-b),
        0.9
    ); /* same as background-color with 90% opacity */
    --background-color-2: #181818;
    --background-color-3: #2D2D2D;

    --background-color-navbar: var(--background-color);

    --text-color: #fff;
    --text-color-dim: #aaa;
    --text-link-color: #66f;
    --header-text-color: var(--text-color); /* against --accent-color-2 */
    --hilight-text: var(--text-color);

    --throbber-primary: #fff;
    --throbber-background: #444;

    --focus-invert: 0; /* for menu items with icons on the left (really just the history screen) */
    --icon-invert: 0; /* for standard icons, against --background-color. please take into account the above setting too */
    --icon-navbar-invert: 0; /* against --background-color-navbar */

    --accent-color-1: #5e1b18; /* example used in: focus elements */
    --accent-color-2: #b3332e; /* example used in: header */
    --accent-color-3: #dd4039; /* example used in: special text */
    /* 645ec8 */

    --background-color-live-badge: #c00; /* against --text-color */

    --time-bar-background: #444;
    --time-bar-foreground: var(--accent-color-2); /* c80000 */

    --border-color: #fff;
    --border-color-dim: #777;
    --border-color-focus: var(--border-color); /* so far only used in comment section */

    /* usage of the below variables are optional. */
    --button-gradient-color-1: #f00;
    --button-gradient-color-2: #900;

    --button-bg-border: linear-gradient(180deg, var(--button-gradient-color-1) 0%, var(--button-gradient-color-2) 100%);
    --button-bg-inner: linear-gradient(0deg, var(--button-gradient-color-1) 0%, var(--button-gradient-color-2) 100%);

    --error-screen-gradient-color-1: #500;
    --error-screen-gradient-color-2: #100;
    --error-screen-text-color: var(--text-color);
    --error-screen-text-shadow-color: var(--background-color);

    --video-display-background-color: #000; /* background of videos */
	
	/* colors of the like and dislike icons */
	--like-text-color: #0f0;
	--like-icon-color: var(--like-text-color);
	--dislike-text-color: #ff2828;
	--dislike-icon-color: #f00;
	
	--rating-bar-text-color: var(--text-color);
	--like-bar-color: #040;
	--dislike-bar-color: #900;
}