#history {
    overflow-y: scroll;
    height: calc(100% - 62px);
    position: relative;
}

.history-item {
    height: 42px;
}
.history-item div {
    width: calc(100% - 30px)
}
.history-item, .history-item div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.history-item img {
    float: right;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    filter: invert(var(--icon-invert));
    /* margin-right: 3px; */
    height: 30px;
    /* height:100% */
}
.history-item:focus img {
    filter: invert(var(--focus-invert));
}