<meta charset="utf-8" />
<script src="/common/js/settings.js" defer></script>
<script src="about.js" defer></script>

<title>about bankitube</title>
<a id="top"><h1>bankitube</h1></a>
ver <span id="version">(go to /common/js/settings.js for the version number.)</span>
created by ale4710 and more...
<br><a href="mailto:alego4710@vivaldi.net" target="_blank">alego4710@vivaldi.net</a>
<br><a href="https://alego.web.fc2.com/kaiosapps/bankitube/" target="_blank">https://alego.web.fc2.com/kaiosapps/bankitube/</a>

<p>bankitube is a youtube client using invidious. it is a work in progress application, so expect missing features, bugs, etc. please enjoy it regardless~</p>
<p>bankitube will not work at all without the help of invidious and the numerous instances available. please consider donating to the instances, or at least the one you use the most.</p>

<p><b>Sections:</b></p>
<ul>
<li><a href="#watch-keybinds">watch screen keybinds</a></li>
<li><a href="#minimize-broke">minimize not working!</a></li>
<li><a href="#something-else-broke">something is broken!</a></li>
<li><a href="#import-subscriptions">importing your subscriptions</a></li>
<li><a href="#instance-picker-colors">instance picker colors</a></li>
<li><a href="#random-videos">random videos</a></li>
<li><a href="#translators">translators</a></li>
<li><a href="#licences">licences</a></li>
</ul>

<a id="watch-keybinds"><h2>watch screen keybinds</h2></a>
these are the keybinds for when you are watching a video.
<br>↑/↓ = volume control
<br>←/→ = seek video
<br>② = toggle fullscreen
<br>①/③ = prev/next in playlist
<br>④ = toggle loop
<br>⑤ = switch video display
<br>⑥ = skip segment (only works when it says you can)
<br>⑨ = temporarally disable segment skipping

<p><a href="#top">top</a></p>

<a id="minimize-broke"><h2>minimize not working!</h2></a>
if you are on a low end device, minimize will only work when you are listening to something in listen mode. i cant do anything about this, sorry. its a system limitation.
    
<p><a href="#top">top</a></p>

<a id="something-else-broke"><h2>something is broken!</h2></a>
before contacting me, first check to see what is causing the problem - either invidious or bankitube (or something else!?). try switching instances. if that fixes it, then its all good. otherwise, if multiple instances exhibit the same behavior, then check to see if invidious has problems. if invidious is not having problems, then the problem is most likely bankitube. you should contact me then.
    
<p><a href="#top">top</a></p>

<a id="import-subscriptions"><h2>importing your subscriptions</h2></a>

its really just the same as this guide: <a href="https://newpipe.net/FAQ/tutorials/import-export-data" target="_blank">https://newpipe.net/FAQ/tutorials/import-export-data/</a>
<p>but at the last step you replace newpipe with my garbage app.</p>
<p>settings -> import youtube/newpipe subscriptions</p>
<p>tip: if the file explorer is crashing for you, use the "Downloads" options if you somehow downloaded your subscriptions directly, or a third party app called "Explorer".</p>

<a id="instance-picker-colors"><h2>instance picker colors</h2></a>
here are what the colors in the instance picker mean.
<br>grey/dimmed: waiting.
<br>green: instance works.
<br>red: instance server is up, but instance is blocked by youtube, api is either forbidden, or something similar like that.
<br>dark red, crossed-out: instance server is down or timeout.

<p><a href="#top">top</a></p>

<a id="random-videos"><h2>random videos</h2></a>
random videos is a hard coded list of videos, which the application will use to give you a random video. is is here so that new users can have a starting off point for what videos to watch, or if a user can't choose what to watch. feel free to send me emails about videos you would like to add to the rotation. no guarentees on whether i add it or not, however.

<p><a href="#top">top</a></p>

<a id="translators"><h2>translators</h2></a>
<ul>
<li>русский - Pavel Gubanov (https://t.me/my_id_gp)</li>
<li>한국어 - Minyeong (https://twitter.com/Min_0_Y)</li>
<li>български - iGameEveryDay06#9822 (https://discord.com/users/505459230577524737/)</li>
<li>Italiano - LolloDev5123 (https://github.com/LolloDev5123)</li>
<li>Deutsch -  perry (https://discord.com/users/520349553124311052/)</li>
</ul>

<p><a href="#top">top</a></p>

<a id="licences"><h2>licences</h2></a>
<h3>i18njs</h3>
<pre>
MIT License

Copyright (c) 2013-2018 Simon Rodwell

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
</pre>

<h3>localForage</h3>
<pre>
Copyright 2014 Mozilla

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
</pre>

<p><a href="#top">top</a></p>