.subscription-img {
    width:  15vw;
    height: 15vw;
}

.subscription-name {
    position: absolute;
    right: 0;
    width: calc(85vw - 5px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.subscription {
    height: 15vw;
    position: relative;
}

#subscriptions-list {
    height: calc(100vh - 62px);
}