body:fullscreen #videoCont {
    left:0;top:0;
    width:100vw;height:100vh;
    position: absolute;
    z-index: 1;
}
body:fullscreen #actions-vertical-positioner {
    position: relative;
    top: 5px;
}
body:fullscreen #actions-vertical-positioner.vertical-center {
    bottom: 50vh;
    top: unset;
    position: absolute;
    transform: translateY(50%);
}
body.minitimebar:fullscreen #videoTime,
body.timevisible:not(.minitimebar):fullscreen #videoTime,
body.timevisible:fullscreen #videoTimeText,
body.timevisible:fullscreen #infoTop,
body.audiomode:fullscreen #videoTime,
body.audiomode:fullscreen #videoTimeText,
body.audiomode:fullscreen #infoTop
{
    z-index: 3; /* zindex only set when timevisible or listenmode is applied on body, or if minitimebar is enabled for timebar */
}

body:fullscreen #videoTime {
    position: absolute;
    top: calc(100vh - 5px);
    width: 100%;
    opacity: 0.75;
}

body.minitimebar:not(.timevisible):fullscreen #videoTime {
    top: calc(100vh - 1px);
    opacity: 0.5;
}



body:fullscreen #infoTop,
body:fullscreen #videoTimeText,
body:fullscreen #data-moreinfo {
    background: var(--background-color-o75);
}

body:fullscreen #data-moreinfo {
    height: 100%;
}

body:fullscreen #infoBottom {position: unset;overflow: visible;} /* allows videotimetext positioning relative to screen */
body:fullscreen #videoTimeText {top: calc(100vh - 32px);}

body:fullscreen #infoTop {border-bottom: 1px solid var(--border-color);}
body.timevisible:fullscreen #subtitle,
body.audiomode:fullscreen #subtitle 
{display: none;}

body.timevisible:fullscreen #data-moreinfo/* :not(.hidden) */,
body.audiomode:fullscreen #data-moreinfo/* :not(.hidden) */,
body.timevisible:fullscreen #actions,
body.audiomode:fullscreen #actions {
    height: calc(100% - 33px);
    top: 33px;
    z-index: 2;
}