table {
    table-layout: fixed;
    width: 100vw;
    border-collapse: collapse;
}
th {
    position: relative;
}
img {
    filter: invert(var(--icon-invert));
}

.instance-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#loader {
    background: var(--background-color);
    top: 32px;
    height: calc(100vh - 32px);
    z-index: 1;
}

#instances-container {
    height: calc(100vh - (32px + 24px + 30px));
}

/* .instance:focus {
    color: #000;
    background: #fff;
} */

.instance.waiting {opacity: 0.6;}

.instance.success {color: #0f0;}
.instance.success:focus {
    background: #6f6;
    color: #000;
}

.instance.fail {color: #f00;}
.instance.fail:focus {
    background: #f66;
    color: #000;
}

.instance.nonexistant {color: #800;text-decoration: line-through;}
.instance.nonexistant:focus {
    background: #800;
    color: #fff;
}

.instance.blocked {color:#ff0;text-decoration: line-through;}
.instance.blocked:focus {
    background:#ff0;
    color: #000;
}

.instance.warning {color: #ff0;}
.instance.warning:focus {
    background:#ff0;
    color: #000;
}

.instance.inconclusive {font-style: italic;}